{% extends "base.html" %}
{% block title %}Publications{% endblock %}
{% block content %}
<h1>My Projects</h1>
<h2>Module 1: Web Applications</h2>
<p>This project introduces the novice to building a scalable Flask web project from scratch</p>
<p>View it on GitHub: <a href="https://github.com/philturk/jhu_software_concepts/tree/main/Module_01" target="_blank">click here</a></p>

<h1>My Publications</h1>
<h2>Google Scholar Webpage</h2>
<p>View it on Google: <a href="https://scholar.google.com/citations?user=VcbiCzIAAAAJ&hl=en" target="_blank">click here</a></p>
{% endblock %}